html{
    box-sizing:border-box;
}
body{
    background: #FFFFFF;
}
header{
    text-decoration:none;
    list-style-type:none;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    
    
}

.logoW{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color:black;
    /* identical to box height */
    letter-spacing: 0.03em;
}
.logo{
    color: #2196F3;
}

.navigation {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

   .studia{
width: 49px;
height: 16px;
left: 453px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
   }
.portfolio{
width: 77px;
height: 16px;
left: 552px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #2196F3;
}

.contacts{
    position: absolute;
    width: 68px;
    height: 16px;
    left: 679px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.line{
position: absolute;
width: 1600px;
height: 0px;
left: 0px;
top: 80px;
border: 1px solid #ECECEC
}

.products{
    display: flex;
    flex-direction: row;
justify-content: space-between;
}
.button{
    cursor: pointer;

}
.button:hover{
    background: #2196F3;

}


.projects{
    display: grid;
    grid: template columns 370px 370px 370px;;
}
.projects h3{
    width: 322px;
    height: 36px;
    left: 639px;
    top: 576px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color:  #212121;
}
.projects p{
    width: 322px;
    height: 30px;
    left: 639px;
    top: 1050px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color: #757575;
}
.end{
  position:relative;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
    background: #2F303A;
}
.span{
 width: 145px;
height: 31px;
left: 215px;
top: 1688px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */
letter-spacing: 0.03em;
color:white;
}
.span span{
    color: #2196F3;
}
.city{
width: 231px;
height: 21px;
left: 215px;
top: 1739px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;
color: #FFFFFF;
}

.mail{
    width: 231px;
    height: 21px;
    left: 215px;
    top: 1769px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.number{
    
width: 231px;
height: 21px;
left: 215px;
top: 1799px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}